body
  background-color: #fff
  font-size: 13px
  line-height: $base-line-height
  font-family: $font
  font-weight: normal
  color: $text
  -webkit-text-size-adjust: 100%

a
  text-decoration: none
  outline: 0
  color: #666
  transition: color .3s ease
  &:hover,
  &:focus
    text-decoration: none
    outline: none
    color: $accent
