.navbar
  position: fixed
  border: none
  width: 100%
  z-index: 999
  border-radius: 0px

.navbar::before
  content: ''
  position: absolute
  top: 100%
  left: 0
  width: 20px
  height: 1px
  background-color: black

.navbar::after
  content: ''
  position: absolute
  top: 100%
  right: 0
  width: 20px
  height: 1px
  background-color: black

.navbar-default
  background: white
  @include media($medium-screen)
    background: rgba(255, 255, 255, .5)

.navbar-default .navbar-toggle
  border-color: white

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
  background: transparent

.navbar-default .navbar-brand
  color: $text-accent
  text-transform: uppercase

.navbar-default .navbar-nav > li > a
  color: $text-accent
  text-transform: uppercase
  font-weight: $bold

.navbar-default .navbar-nav > .active > a
  background-color: transparent

.navbar-default .navbar-nav > .active > a:hover
  background-color: transparent

.dropdown-menu
  border-radius: 0
  border: 0
  box-shadow: none

.dropdown-menu > li > a
  text-transform: uppercase
  font-weight: bold
  color: $text-accent

.dropdown-menu > li > a:hover
  background-color: transparent

.dropdown-menu > .active > a
  background-color: transparent
  color: $text-accent

.dropdown-menu > .active > a:hover
  background-color: transparent
  color: $text-accent
