// OFFSET GRID
.offset__grid__theme
  margin-top: 100px

.offset__grid__theme__row,
.offset__grid__theme__row > div[class*='col-']
  display: flex
  flex: 1 1 auto
  -webkit-flex-flow: row wrap
  align-content: flex-start
  padding: 0
  flex: 0
  .offset__grid__theme__col
    margin-bottom: 100px
    display: flex
    align-items: center
    
// ORDER GRID
.flex__grid
  position: relative
  display: flex
  flex-wrap: wrap
  margin: 5px

  .flex__col
    position: relative
    flex-grow: 0
    flex-shrink: 0
    flex-basis: calc(100% - 10px)
    margin: 5px
    @include media($medium-screen)
      flex-basis: calc(50% - 10px)

  .defaul__col
    flex-basis: calc(100% - 10px)
    @include media($medium-screen)
      flex-basis: calc(50% - 10px)

  .defaul__col__margin
    margin-left: 0
    @include media($medium-screen)
      margin-left: 25%

  .default__image__wrapper
    position: relative
    width: 100
    overflow: hidden
    line-height: 0
    img
      width: 100%
      height: auto
      top: 0
      left: 0
